/*----- general -----*/
* {
	padding:0;
	margin:0;
}
body {
	font-family: Arial, Sans-serif;
	font-size: 15px;
}
h1, h2, h3, h4, a {
	color: #444;
}
h1 {
	font-size: 45px;
}
h2 {
	font-size: 55px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
p {
	line-height: 20px;
	color: #777;
}
a {
	text-decoration: none;
}
.orange {
	color: #FF7a00;
}
.block {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.clear {
	clear: both;
}
small {
	font-size: 13px;
	font-style: italic;
}

/*----- header -----*/
header {
	height: 120px;
}
header h1 {
	float: left;
	margin-top: 32px;
}
header nav	{
	float: right;
	margin-top: 50px;
}
header nav ul li {
	float: left;
	display: inline-block;
}
header nav ul li a {
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
}
a:hover {
	color: #FF7a00;
}

/*----- main -----*/
.main {
	height: 580px;
	background: url("media/main.jpg") center;
}
.main h2 {
	color: #444;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	padding: 150px 0 40px 0;
	margin-bottom: 20px;
}
.btn {
	display: block;
	width: 120px;
	height: 50px;
	background-color: #FF7a00;
	color: #fff;
	font-size: 20px;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
	border-radius: 3px;
}
.btn:hover {
	background: #02b8dd;
	color: #fff;
}

/*----- steps -----*/
#steps ul {
	list-style: none;
	margin: 80px 0; 
}
#steps ul li {
	width: 300px;
	float: left;
	padding-top: 140px;
	text-align: center;
	margin-right: 10px;
}
#steps h4 {
	text-transform: uppercase;
	margin-bottom: 20px;
}
#steps p {
	margin-bottom: 20px;
}
#planifier {
	background: url("media/steps-icon-1.png") no-repeat top center;
}
#organiser {
	background: url("media/steps-icon-2.png") no-repeat top center;
}
#voyager {
	background: url("media/steps-icon-3.png") no-repeat top center;
}

/*----- possibilities -----*/
#possibilities {
	background-color: #efefef;
	padding: 60px 0;
}
#possibilities article {
	width: 460px;
	height: 270px;
	float: left;
	border-radius: 10px;
}
#possibilities article:first-child {
	margin-right: 20px;
}
.overlay {
	background-color: rgba(255,255,255,0.95);
	height: 100%;
	width: 230px;
	padding: 20px;
	border-radius: 10px 0 0 10px;
	text-align: center;
	box-sizing: border-box;
}
article h4 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align: center;
}
#possibilities p {
	text-align: center;
	margin-bottom: 20px;
}
.btn2 {
	color: #fff;
	background-color: #FF7a00;
	padding: 6px 20px;
	border-radius: 3px;
}
.btn2:hover {
	background-color: #02b8dd;
	color: #fff;
}

/*----- contact -----*/
#contact {
	padding: 60px 0;
	text-align: center;
}
#contact h3 {
	text-transform: uppercase;
	margin: 0 auto 20px auto;
	padding-bottom: 20px;
	width: 400px;
	border-bottom: 1px solid #02b8dd;
}
form {
	margin: 60px 0 20px 0;
}
label {
	font-weight: bold;
	font-size: 20px;
	margin-right: 10px;
	color : #777;
}
input[type="text"] {
	padding: 10px;
	font-size: 20px;
	margin-right: 20px;
	border: 2px solid #ddd;
	border-radius: 3px;
}
#btnform {
	font-size: 20px;
	font-weight: bold;
	padding: 11px;
	background-color: #02b8dd;
	color: #fff;
	text-transform: uppercase;
	border-style: none;
	border-radius: 3px;
}
#btnform:hover {
	color: #fff;
	background-color: #444;
}

/*----- footer -----*/
footer {
	height: 260px;
	background-color: #444;
}
footer h1 {
	color: #fff;
	text-align: center;
	padding: 80px;
}
.copyright {
	text-align: center;
	font-weight: bold;
	color: #777;
}
